= render 'header'

/ ROW
.row
  .col-md-1
  .col-md-8
    .content_wrap
      .content
        .question
          #question_title
            = @question.title
          #question_info
            = @question.created_at.strftime("%m/%d(#{%w(日 月 火 水 木 金 土)[Time.now.wday]})")
          #question_content
            = @question.content

            -if @question.favorited_by? current_user
              = link_to "お気に入りを解除", question_favorites_path(@question), method: :delete
            -else
              = link_to "お気に入りに登録", question_favorites_path(@question), method: :post
            = link_to "編集", edit_question_path(@question), :class => "a edit btn btn-primary float_right"
            / ここはいいね！booleanを置くところ!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
            %a.btn.btn-primary.float_right{:href => "#", :type => "button"}
              %i.fa.fa-thumbs-o-up
              %span.badge 4
            / ここまではいいね！を置くところ

        / =button_to "new", question_path, :anchor => 'answer', :method => :get
        / =link_to "回答する", :class => "a btn btn-default"
        / =link_to "回答する", :action => 'show', :anchor => 'answer', :class => "a btn btn-default"

        - @question.answers.each do |answer|
          .answer
            #answer_info
              =answer.created_at.strftime("%m/%d(#{%w(日 月 火 水 木 金 土)[Time.now.wday]})")
              ="ユーザ名と属性と住んでいる場所"
            #answer_content
              =answer.content
              = link_to "編集", edit_question_answer_path(@question, answer), :class => "a edit btn btn-primary float_right"
              %a.btn.btn-primary.float_right{:href => "#", :type => "button"}
                %i.fa.fa-thumbs-o-up
                %span.badge 3

        %h2#answer こちらに回答をお書きください。

        = form_for([@question, @question.answers.build]) do |f|
          %p.answerbox
            = f.text_area :content
          %p
            .box_button
              = f.submit '回答する', :class => "a btn btn-default"

            .space10px
            .space10px

      / ここに関連するキーワードを入れる?

      = render 'bottombox'
  / CONTENT end

  .sidebar.col-md-3
    = render 'sidebar'

= render 'footer'