= render 'questions/header'

.row
  .col-md-1
  .col-md-8
    / CONTENT
    .content_wrap
      .content
        .space10px
        .space10px
        - if notice
          .alert.alert-info= notice
        %span
          %h4= @user.screen_name
          さんのページ


        / お気に入り/いいね！した質問・回答
        / %h3 お気に入り
        / %table.table.table-hover
        /   %thead
        /     %tr
        /       %th テーマ
        /       %th 質問
        /       %th 詳細
        /       %th 回答
        /   %tbody
        /     %tr
        /       %td 進路
        /       %td インター校に行くべきか
        /       %td 中学生です。インター校か現地校で迷って・・・
        /       %td 10
        /     %tr
        /       %td 進路
        /       %td インター校に行くべきか
        /       %td 中学生です。インター校か現地校で迷って・・・
        /       %td 10
        /     %tr
        /       %td 試験準備
        /       %td 最終試験に向けた計画づくりについて
        /       %td IBDP最終試験に向けた計画づくりについて・・・
        /       %td 7
        / 質問
        %h3 今までの質問
        %ul
          %li.float.indextop1 質問
          %li.float.indextop2 詳細
          %li.float.indextop3 投稿時
          %li.float.indextop4 回答数
          .clear

        %ul
          / - @questions.each do |question|
          /   %li.indexcontentbox
          /     = link_to(question) do
          /       .float.indexcontent.indexcontent1= question.title[0,14]
          /       .float.indexcontent.indexcontent2= question.content[0,6]
          /       .float.indexcontent.indexcontent3= question.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[question.created_at.wday]})")
          /       .float.indexcontent.indexcontent4= question.answers.count
          /       .clear


        / 回答
        %h3 今までの回答
        %table.table.table-hover
          %thead
            %tr
              %th テーマ
              %th 質問
              %th 詳細
              %th 回答
          %tbody
            %tr
              %td 進路
              %td インター校に行くべきか
              %td 中学生です。インター校か現地校で迷って・・・
              %td 10
            %tr
              %td 進路
              %td インター校に行くべきか
              %td 中学生です。インター校か現地校で迷って・・・
              %td 1





  .sidebar.col-md-3
    = render 'questions/sidebar'

= render 'questions/footer'



